.footer{
    background-color: black;
    color: white;
}

.subscribe-div{
    padding: 15px;
}

.subscribe-title{
    font-size: 17px;
    font-weight: 500;
    line-height: 1.65;
    color: #fff;
    text-align: center;
    letter-spacing: .2px;
}

.menu-content-header{
    
}